[2014-09-09 20:35] samhunter opened #1 "Improve output clarity"
Currently the output for a library looks like:

INFO: mean insert length, number of reads, file : 224.349, 57.6157, 17840, ./L1I1/Illumina_realigned.bam

There are 3 field names, but 4 fields. It would be clearer with all 4 fields specified:
INFO: mean insert length,variance insert length, number of reads, file : 224.349, 57.6157, 17840, ./L1I1/Illumina_realigned.bam

[2014-10-02 16:53] dence opened #4 "Explain requirements for the input bam"
Hi, I didn't see any description of the requirements for the input bams in the README that came with my checkout from git. It turns out that the bams need to be indexed, sorted (with the SO: tag) and needed to be aligned with an aligner that does soft-clipping. Some explanation of this would be helpful.

~Daniel

[2014-10-16 04:00] #1 closed, assigned to nobody

[2014-10-16 04:10] #4 closed, assigned to nobody

[2014-11-09 18:52] jewmanchue opened #6 "stupid proof the classifier"
I didn't RTFM and generated silly errors.

[2015-01-22 21:23] #6 closed

[2015-01-28 17:24] rhshah opened #9 "LRT Values and other concerns"
Hi Zev Kronenberg,

This a great tool, I got to know about this from Brad Chapman's post.
I was testing WHAM and had some issues:
1. For the result I did not have LRT score for cases and controls mode, all LRT score's where 0. But it did pick up true positive event.
2. NA: The number of reads that do support any type of structural variant .
Here shouldn't the number of reads be for the specific ev

[2015-01-28 18:12] jewmanchue commented on #9
Thank you for using Wham and posting an issue.

1. Can you post a few lines of the VCF where you see this problem?
2.  I will update the wording on the wiki.  It should state: the number of reads supporting the SV reported in the alt field.  For example if WHAM identifies the breakpoints of a deletion, it will be the number of reads supporting the current positions breakpoint.
3. I will do this in

[2015-01-28 19:53] rhshah commented on #9
Here is the output of the true positive events:

22	29688285	.	N	CTTTACGACATAATAAAAATAATGTAACTGACCAAATTGAGATGGAA	.	.	LRT=0;WAF=1e-06,1,0.500001;GC=1,1;AT=0,0,0,0,0.0597015,0,0.0358209,0.0537313,0.0179104,0.0179104,0.940299,0.0119403,0,0,0,0,0;SI=1.80377;PU=33;SU=18;CU=184;RD=335;NC=30;MQ=60;MQF=0;SP=sr;BE=8,145055127,18;DI=f;END=.;SVLEN=.;WC=DEL;WP=0.6,0.088,0.1376,0.1744	GT:GL:NR:NA:NS:RD	1/1:-25

[2015-04-14 14:50] xpastor opened #13 "missing documentation on required fasta files"
Hi,

when trying to run Wham it showed a FATAL error regarding to a lack of fasta file. In the documentation provided it's not specified that a fasta file may be provided (actually it's a requirement).
I could find out how to provide the file checking the code (-f). I guess it's a forget due to Wham still being under development.

Best,
Xavier

[2015-04-14 15:05] jewmanchue commented on #13
Xavier,

Thank you for catching this.  I've pushed the fix into master.  Please let me know if you find any other bugs, have suggestions, or complaints.

--Zev

[2015-04-14 15:05] #13 closed

[2015-09-16 00:42] chapmanb opened #17 "Seg fault in initPriors during genotyping"
Zev;
I'm running wham on some whole genome data and getting consistent segmentation faults on the genotyping step. The backtrace from the core dumps looks like:
[code]
I'm a bit stuck about how to debug. Do you have any suggestions about what might be causing this? Thanks much.

[2015-09-16 00:47] jewmanchue commented on #17
Yikes!  That's no good.  Would it be hard to create a small bam file that generates this error?

[2015-09-16 01:22] chapmanb commented on #17
Zev -- I can definitely work on that. I'll try to compile a version of wham with debug information and see if I can identify where it's happening. Reading the code there, it looks like it's looping through the BAM file updating priors for the HMMs, is that right? Are there assumptions of consistent read length for the prior matrix? At this point I'm just trying to think of practical ways to reduce

[2015-09-16 01:29] jewmanchue commented on #17
The first call to the class that is causing the segfault is here:
https://github.com/jewmanchue/wham/blob/master/src/bin/graph-er.cpp#L4021

Its calling this function:
https://github.com/jewmanchue/wham/blob/master/src/lib/alignHMM.h#L90

This loops over the read and fills the probability matrix.

When you are in gdb if you type "frame 0" it should take you to the exact line.

Without knowing the

[2015-09-16 12:17] chapmanb commented on #17
Zev -- that's right on, there are variable length reads in these datasets. I couldn't get gdb to give me the exact line with these core dumps but it sounds like we've identified the underlying issue. Is it possible to support variable read lengths here or should I be skipping genotyping in these cases?

[2015-09-16 15:29] jewmanchue commented on #17
I don't have a test set for trimmed reads, but the changes i pushed should work.  They don't break anything for NA12878.

Let me know if this opens up any other problems.

--Zev

[2015-10-15 16:55] srynobio opened #18 "Ability to add flat files for options."
Considering a few WHAM-GRAPHING options:

[code]

1. It would be helpful if you could supply flat files for all three of these options. As opposed to supplying long lists of comma separated files.
`./WHAM-GRAPHING -f reference.fasta -f bam_files.txt -r regions.bed`.

This would improve not only ease of use, but allow better cohort and targeted gene analysis.

2. It would be nice to have the abilit

[2015-10-30 11:41] gabyrech opened #19 "FATAL: was not able to gather stats on bamfile"
Dear WHAM´s team:
I am trying to run WHAM for 7 bam files, each one corresponds to one sample. I would like to do an association test between one of the samples and the other six. Then, I am running:

$ WHAM-BAM -f ref.fa -m 2 -q 15 -p 10 -x 10 -t 1.sort.rmdup.bam -b 2.sort.rmdup.bam,3.sort.rmdup.bam,4.sort.rmdup.bam,5.sort.rmdup.bam,6.sort.rmdup.bam,7.sort.rmdup.bam > 1_vs_all.vcf

But I am getti

[2015-10-30 15:39] jewmanchue commented on #19
Gabriel,

Thank you for reporting this error.  All of your commands look correct.  The subroutine that is throwing the error tries to sample reads from the first 20 sequences in the header.  How many @SQ tags are in your headers?  Are there reads for all @SQs in the header?

I can resolve this bug today.

[2015-10-30 15:57] gabyrech commented on #19
Hello Zev,
Thanks for you reply. Actually I have 654 @SQ tags in the headers. Since the reference genome is an "uncompleted" assembly (654 contigs) and some contigs are very small (2000bp) and full of repetitive sequences, It is possible that some of them do not contain any mapped reads.
Thanks for trying to fix it!
Gabriel

[2015-10-30 16:03] jewmanchue commented on #19
option 1 - the fastest

change the following :
    unsigned int max = 20;    to  unsigned int max = 500;

https://github.com/jewmanchue/wham/blob/master/src/bin/multi-wham-testing.cpp#L627

and then run make.

option 2 - hopefully end of day

I'm going to add a command line option to change the number of seqids sampled.

Thanks again.
--Zev

[2015-10-30 16:30] gabyrech commented on #19
Great! I tried with "the fastest" and WHAM is running now!
Thank you very much for such a speedy solution!
Gabriel

[2015-10-30 16:31] jewmanchue commented on #19
Great.  If you're wondering the number was set to 20 for the human folks.... to avoid sampling bait sequences.

I'm leaving this open until I provide a command line option.

--Zev

[2015-11-04 01:19] wjaratlerdsiri opened #20 "ERROR: wham vcf as an input to MetaSV"
Hello Author,

I used wham VCF (--wham_vcf flag) with MetaSV and got the following error:

INFO 2015-10-13 07:47:59,983 metasv.sv_interval   Loading SV intervals from Clean_FR07886681_hg19_MC_MQ_sort_dedup.realign.recal.wham.raw.class.vcf
ERROR 2015-10-13 07:48:00,559 metasv.sv_interval   Ignoring record due to missing SVTYPE or INFO field in Record(CHROM=chr1, POS=9012117, REF=N, ALT=[GACCCTGTACC

[2015-11-04 16:05] jewmanchue commented on #20
It looks like you have not run the classification step?  The classification step adds the SVTYPE.

[2015-11-04 23:14] wjaratlerdsiri commented on #20
Thanks Zeeev,

But I think I did it as follows:

./WHAM-BAM -f hg19_chromosome.fa \
-t A_sort_dedup.realigned.recalibrated.bam -x 4 > A_sort_dedup.realign.recal.wham.raw.vcf 2> A_sort_dedup.realign.recal.wham.raw.err

echo Next
python /miniconda/wham/utils/classify_WHAM_vcf.py \
A_sort_dedup.realign.recal.wham.raw.vcf \
/wham/data/WHAM_training_data.txt > A_sort_dedup.realign.recal.wham.raw.class.

[2015-11-04 23:15] wjaratlerdsiri commented on #20
This issue is still open! James

[2015-11-05 04:01] zeeev commented on #20
Did you pass the classified VCF to Meta_sv?

[2015-11-05 06:53] wjaratlerdsiri commented on #20
Yes. Even I ran again with the VCF file below. I got errors with missing SVTYPE.
Only the X.class.vcf named "Clean_xxx_sort_dedup.realign.recal.wham.raw.class.vcf" in my work directory for MetaSV. My VCF has WC and WP added.

I think the problem is no SVTYPE clearly annotated in the INFO field like VCF files from other SV tools. What do you think?

I think MetaSV use SVTYPE field to select SVs for

[2015-11-05 18:20] zeeev commented on #20
James,

 I'm not sure if Meta_SV was using WHAM or WHAM-GRAPHENING.  WHAM-GRAPHENING is more accurate than WHAM, but only calls deletions, duplications and inversions.  It also produces the SVTYPE info field.

you can convert the "WC" field to "SVTYPE" using the perl one liner below.

perl -lane '$_ =~ s/WC=/SVTYPE=/g' your.classified.vcf > your.classified.infomod.vcf

It is difficult for me to tr

[2015-11-06 06:22] wjaratlerdsiri commented on #20
Thanks Zev,

It works! Below is VCF results from MetaSV:

#CHROM  POS     ID      REF     ALT     QUAL    FILTER  INFO    FORMAT  XXX
chr1    10288   .       c       <DUP>   .       PASS    CIEND=10135,10377;END=10584;SVLEN=89;SVTYPE=DUP;SVTOOL=MetaSVMerge;SOURCES=chr1-10178-10178-1-WHAM,chr1-10179-10178-0-WHAM,chr1-10230-10178-51-WHAM,chr1-10282-10256-25-WHAM,chr1-10287-10257-29-WHAM,chr1-10389-1

[2015-11-06 06:22] #20 closed

[2015-11-06 17:26] zeeev commented on #20
Great.  Let me know if you run into anymore problems.

[2015-11-19 23:23] abolia opened #21 "Detecting translocations on same chromosome"
Hi Zev,

I am using WHAM to find translocations on my dataset and based on the description specified for WHAM, I see that you can only call a translocation on different chromosomes (basically by looking at the difference in CHROM and chr2 id). Is there a way WHAM can report translocations on the same chromosome?

Thanks for your help.

Ashini.

[2015-11-20 18:08] abolia commented on #19
Hi Zev,

I am getting the same error with one of my bam files.

$ ~/bin/WHAM-BAM -f ../human_g1k_v37.fasta -p 15 -q 30 -m 5 -x 24 -t 150924_13-11719_Merged.bam > 150924_13-11719
INFO: WHAM-BAM will using the following fasta: ../human_g1k_v37.fasta
INFO: WHAM-BAM skip soft-clips with mapping quaity below: 15
INFO: WHAM-BAM skip soft-clips with average base quality below: 30
INFO: WHAM-BAM requires

[2015-11-20 18:13] zeeev commented on #21
The breakpoints will be reported in the VCF file, however they might not have the "TRA" tag after classification.  How big of intra-chomosomal events are you looking at?  I might ignore the classification and look for large SV calls.  If you have a set of known intra-chomosomal translocation you could create your own classifier dataset.

--Zev

[2015-11-20 18:19] abolia commented on #21
Thanks Zev. This helps. I will look for the large SV calls.

Thanks,
Ashini

[2015-11-20 18:23] zeeev commented on #19
Wham is trying to randomly samples windows.  It is assuming that each SQ in the header is fully represented in the bam file. The line of code that is causing you trouble is:

https://github.com/zeeev/wham/blob/master/src/bin/multi-wham-testing.cpp#L622

If you get rid of that block it sample until it gets enough reads.

I'm leaving this open as a bug.

--Zev

[2015-11-20 18:42] abolia commented on #19
Thanks Zev. thanks a ton. This fixed it.

Thanks,
Ashini

[2015-11-20 18:43] zeeev commented on #19
Caution for exome data:

If the breakpoint isn't in the capture region, wham will not call it.

[2015-11-20 19:03] abolia commented on #19
Sure. I got it.

Thanks.

[2015-12-03 20:28] zeeev commented on #17
Was the issue resolved for you?

P.S. - paper is out.

[2015-12-04 20:46] abolia opened #22 "Filtering the VCF file"
Hi Zev,

Do you have any recommendations on setting parameters for filtering of the VCF files generated by WHAM?

Thanks,
Ashini

[2015-12-05 18:57] chapmanb commented on #17
Zev -- congrats on the paper. It looks great, and thank you for citing bcbio.

Sorry I haven't followed up on this. Currently your trimming fix works great but I'm stuck with a sampling issue on hg19 and hadn't yet worked around this in bcbio because I wasn't sure of the right way. The issue with hg19 is that chrM is first (relative to GRCh37, where it comes after X and Y) so using the `-u 20` wor

[2015-12-07 16:37] zeeev commented on #17
I will implement -i.

I wouldn't worry too much about a biased insert size distribution.  For humans -u 20 is very safe.  I've tested this for several human populations.

--Zev

[2015-12-07 16:39] zeeev commented on #22
Ashini,

Can you tell me a little more about your experimental design?   There are many filtering strategies, so will a little more knowledge I can point you to the correct one.

--Zev

[2015-12-07 17:15] zeeev commented on #17
Brad,

I've added the include flag (-c).  You can use -e and -c together.  If something is on the -e list it will not be included in the -c list (although it prints to STDERR).

Let me know if you run into any other problems.  Thanks as always for your helpful suggestions.

[2015-12-08 21:42] abolia commented on #22
Hi Zev,

The aim of my project is to detect translocations. However, the current problem we are facing with WHAM is way too many false positives (> 1000s) and we are trying ways to lessen them.

Moreover, I have also played with parameters controlling sensitivity and specificity in my WHAM runs:

For Example:
m (Min # of soft clips supporting SV start) = 15 (set pretty high)
p (Exclude Soft Clippe

[2015-12-09 17:39] zeeev commented on #22
Ashini,

Sorry for the late reply.  I would suggest using the "AT" field as a set of filters. Specifically the 4th datum in the AT field.  You would expect that a true translocation would have > than 0.05.

If you have control data that will also help substantially.

If you send me a Snippet of your VCF file I'd be happy to help provide a filtering program for you.

--Zev

[2015-12-09 18:07] abolia commented on #22
Zev,

Thanks for the reply.
Attached is the snippet of my VCF file containing the translocations we are looking for. The translocation is on Chr22 (29,684,094-29,684,602) and Chr 11 (32,415,739-32,416,247). I see that its being called but still the values in the 4th AT datum are not greater than 0.05.

[sample.txt](https://github.com/zeeev/wham/files/57150/sample.txt)

Thanks for all your help.
As

[2015-12-10 00:44] zeeev commented on #22
Here is a filter that should get you much closer.

SVLEN = 0 <- translations
CF < 0.2  <- remove sites with excessive cigar operations
CU < 10  <- remove sites where there is excessive soft clipping near by
MQ > 30 <- average mapping quality greater than 30
NC > 10 <- number of soft clips supporting breakpoint

In the file Brett sent me: there were 868 calls
There is one left after filtering.

~/t

[2015-12-10 01:58] abolia commented on #22
Superb. Thanks Zev. I will try it on other samples too and let you know how it works.

Thanks again,
Ashini

[2015-12-17 07:03] sehrrot commented on #19
I guess here might be a proper thread that I bring my question. I am trying to use WHAM for my WGS data (~30X) and wondering the setting for bwa mem. I have used the bwa command:
 'bwa mem fastq.R1 fastqR2'

but seems it does not give me reads with XA tags, when I checked them using samtools view.

Considering commands above, should I use '-M' option for mark shorter split hits as secondary? Is th

[2015-12-18 16:56] zeeev commented on #19
@sehrrot What version of bwa-mem are you using?

Setting the -M flag is fine, not setting -M is fine too.  I think most other tools want -M.

[2015-12-18 16:57] zeeev commented on #22
Happy to help.  I'm closing this issue, but feel free to open up another one.

[2015-12-18 16:57] #22 closed

[2015-12-18 16:57] #17 closed

[2015-12-18 16:57] #21 closed

[2015-12-18 17:01] #9 closed

[2015-12-29 01:52] sehrrot opened #23 "Multi sample running"
Hi Zeeev

I ran WHAM with 100 BAM files (WGS; 50X) and the run was stooped with the error message below. I first thought that there might be a path issue but not really - I checked it. For comparison, I ran with one sample using the same command (the one suggested in the manual page) and it worked fine.

Then, I ran the multi sample one by increasing thread option. It went further genomic coordina

[2015-12-30 06:09] zeeev commented on #23
@sehrrot sorry for the late reply, I've been on holiday.  How many CPUs are you using?

[2015-12-30 06:10] zeeev commented on #23
Sorry for the late reply, I've been on holiday.  How many CPUs are you using?

[2015-12-30 07:27] sehrrot commented on #23
Thanks Zeeev. I run WHAM interactively using AWS m4.4xlarge, so CPU is 16, and memory is 64Gib.

[2015-12-30 17:25] zeeev commented on #23
This can happen when threading overruns the number of file handles.  If you are running 100 samples with 16 threads you are opening 1600 file handles. Check what the maximum number of file handles are.

Alternatively you could try WHAM-GRAPHNEING.  It is a more accurate version of WHAM designed for DEL, DUP, and INV.  You run the individuals separately and then merge them together.  The details ar

[2015-12-30 22:43] sehrrot commented on #23
Thanks Zeee! I will try WHAM-GRAPHNEING and let you know how it goes.

I am wondering whether any document for this is available. Though I can see the workflow diagram, I am looking forward to reading the detailed docs and principles for W-G.

Thanks

[2015-12-30 22:49] sehrrot commented on #23
One more question. For running WHAM, is a multi sample run better than a single sample run (e.g. accuracy)? In the paper, multiple sample run was only mentioned..

[2015-12-30 22:51] zeeev commented on #23
For both WHAM and WHAM-G there is only a slight increase in sensitivity for joint calling at the expense of many more false positives.  That's why I now use merging in WHAM-GRAPHENING.

[2016-01-05 08:45] sehrrot commented on #23
Hi Zeeev

I ran both WHAM and WHAM-G and found WHAM-G generated lower number of calls - Run with chr22 WGS sample:
WHAM: 8000 calls
WHAM-G: 200 calls

Another issue, WHAM-G did not report a type of CNVs. I could only infer it based on REF and ALT information. Also, all calls were insertions (or duplications?). Please correct me if I am wrong..

Thanks

[2016-01-07 16:16] zeeev commented on #23
Hi @sehrrot ,

Sorry for the slow response I was on vacation.

The number of calls seems reasonable.  I am not sure what you mean by WHAM-G did not report a type of CNV.  In the alt column you should see:

<DEL>|<DUP>|<INV>

Can you post a line from the VCF file in question.

[2016-01-08 19:59] sehrrot commented on #23
Hi @zeeev

Thanks for the reply! I should've put the other way: Wham does not report a type of CNV, and all of calls have 'N' at the REF (please see an example below).

#CHROM  POS     ID      REF     ALT     QUAL    FILTER  INFO    FORMAT sample.chr22.bam
22      17005386        .       N       ANGTATGCCACCACTC        .       .       LRT=0;WAF=.,0.500001,0.500001;GC=0,1;AT=1,0,0,0,0,0,0,0,0,0,0,0

[2016-02-24 21:09] abolia opened #24 "-m flag vs NC from info field"
Hi Zev,

Can you please help me understand how are the "-m" flag and "NC" related. To my knowledge, both relate to the # of soft clipped required at the breakpoint. I am using -m flag (minimum number of soft-clips supporting START) as 15 while running WHAM but I see that most of my calls still have NC < 15. It shouldn't actually report any SV that has soft clips collapsed into the consensus that a

[2016-02-24 21:16] zeeev commented on #24
@abolia Thank you for pointing out the bug.  I've fixed it. Let me know if you have any more problems.

[2016-02-24 21:17] abolia commented on #24
Great.

Thanks,
Ashini

[2016-03-02 21:20] abolia opened #25 "Flags in the info field"
Hi Zev,

I am trying to understand the various flags in the info field and I have few questions about some of the flags.

**1) What is the difference between NC and NS? **
To my understanding, both seem to be counting soft clipped reads.
NS means "The number of primary reads supporting with a soft clip at POS" i.e. reads having soft clipping start exactly at the breakpoint.

NC means "The number o

[2016-03-03 04:04] zeeev commented on #25
NC is the number of reads soft-clipped at the POS.

        X
ssssrrrrrrrr
 sssrrrrrrrrr
  ssrrrrrrrrrr

NC is 3 in this case.  Three reads soft-clip at the same position.

NS. Is the same as NC on a person by person basis (genotype field).

If you’re only calling one genome NC == NS.  If you’re joint calling NC may or may not equal NS.

##FORMAT=<ID=NS,Number=1,Type=Integer,Description="Number of

[2016-03-03 15:34] abolia commented on #25
Hi Zev,

Thanks for your reply. I have been calling one single genome (single sample studies for Translocation calling) and I never see NC==NS, which it should be as you mentioned. For example, here are two Tx calls that are true for ALK-EML4 translocation sample.

#CHROM  POS     ID      REF     ALT     QUAL    FILTER  INFO    FORMAT  ALK_S4.bam
2       29448159        .       N       TGGTGAACATT

[2016-03-10 17:34] zeeev commented on #25
Ashini,

1.  As we talked about here are the metrics that classify NA vs NR
   - same strand
   - soft clipped within 5bp of breakpoint (this is NS)
   - a read pair 2.5 SD outside normal mapping range
   - mate pair mapped to another chromosome

2. Read depth includes supplementary reads. Only reads with three cigar operations are filtered.

[2016-03-14 16:56] abolia commented on #25
Thanks Zev. This is very helpful. I don't understand what does "same strand" mean though? Aren't all the read at the break point anyways on same strand. Also I see that NR+NA = RD for most of my cases, which makes sense.

For directionality, the DI field tells if the break point is supported on the 5' of the pileup or 3' end of pileup for the "POS" position. However, is there a way to find out it

[2016-04-12 15:37] sahilseth opened #29 "Error installation (buildWHAMBAM), collect2: error: ld returned 1 exit status"
I am getting an error running the step `make buildWHAMBAM`.

Could you direct me towards a possible issue/fix?

[code]

[2016-04-12 15:52] zeeev commented on #29
@sahilseth Let's try a basic install first.  Please do the following:

[code]

[2016-04-12 17:54] sahilseth commented on #29
Initially had tried make, then make buildWHAMBAM.

It seems the issue was with cmake. I minute ago, installing with version 4, works.

Thanks for the quick response!

[2016-04-12 17:55] zeeev commented on #29
@sahilseth thanks for the bug report.

[2016-04-12 17:55] #29 closed

[2016-04-12 21:13] sahilseth opened #30 "Issue with parenthesis in print, using python 3"
Here is an example error:

[code]

[2016-04-12 21:26] zeeev commented on #30
Are you using WHAM for SV discovery?  If so just i'd advise you to use WHAM-GRAPHENING -k.

[2016-04-12 22:00] sahilseth commented on #30
I have a tumor normal pair, and would like to explore translocations.

Thanks,
Sahil

[2016-04-12 22:01] zeeev commented on #30
That'd be the correct use case for WHAM.  Did the classifier run for you after changing the quote?

[2016-04-12 22:20] ejodude commented on #30
@Sahil, Your current set of errors stem from incompatibilities in syntax between python 2X and python 3. I had not tested the code against any versions of python3 unfortunately (just noted that we claim Python3 is supported in the docs, so I apologize for that error).

Do you happen to have a version of python 2.7 installed on your system? You can have multiple different versions of python on your

[2016-04-12 22:43] sahilseth commented on #30
Yes, I just created a new python2 env, and compiled again to be sure. Now it works, but shows a lot of warnings:

[code]

I do see the file is getting created, here is the first call:

[code]

**interpretation**
WC=INR; this probably means insertion.
WP=0.254,0.158,0.372,0.216: not sure of the sequence of probabilities.

 Sorting the last column of training data (lexicographically), I get: DEL, DU

[2016-04-12 23:36] zeeev commented on #30
@sahilseth That is correct.

[2016-04-13 15:39] zeeev opened #31 "translocation test cases"
@abolia @BrettKennedy @ryanabo,

I'm very close to adding translocation support to WHAM-GRAPHENING.  I'm trying to round up some test cases in BAM format.  Do you have any to share?

[2016-04-14 18:41] abolia commented on #31
Hi Zev,

Sure, I can send you some. Would you like me to upload them to GNomEx or
somewhere else. Let me know.

Thanks,
Ashini

On Wed, Apr 13, 2016 at 9:39 AM, Zev Kronenberg <notifications@github.com>
wrote:

--
Kind Regards,
Ashini Bolia

[2016-04-14 18:49] abolia commented on #31
Hey Zev,

I have uploaded 2 bams on GNomEx:

https://hci-bio-app.hci.utah.edu/gnomex/gnomexFlex.jsp?analysisNumber=A3484

Sample SP-14-15849
True Positive: ALK gene chr2:29415639-30144477
Supected Partner: EML4 gene chr2:42396477-42559688

Sample SP-14-20579
True Positive: EWSR1 gene chr22:29663997-29686672
Supected Partner: WT1 gene chr11:32409321-32457081

Let me know if you need more BAM's.

Th

[2016-04-15 14:56] zeeev commented on #31
@abolia Thank you.  I'm trying them out now.

[2016-04-15 15:04] zeeev commented on #31
What reference genome was used?  HG19?

[2016-04-15 15:09] abolia commented on #31
Yes, hg19 was used.

Thanks,
Ashini

On Fri, Apr 15, 2016 at 9:04 AM, Zev Kronenberg <notifications@github.com>
wrote:

--
Kind Regards,
Ashini Bolia

[2016-04-15 15:10] zeeev commented on #31
@abolia Looks like it is a custom reference genome.  I will need your reference.

[2016-04-15 15:22] abolia commented on #31
Oh yeah, sorry I forgot to mention that. It is custom reference that
contains the phiX and adapter sponges. I uploaded the fasta, index and dict
files to GNomEx under the same analysis.

Thanks,
Ashini

On Fri, Apr 15, 2016 at 9:10 AM, Zev Kronenberg <notifications@github.com>
wrote:

--
Kind Regards,
Ashini Bolia

[2016-04-18 17:07] sahilseth opened #32 "segmentation fault with wham-bam"
I am seeing a segmentation fault:

[code]

I am primarily running for SVs.

Thanks!

[2016-04-19 16:19] nvolkova opened #33 "Buffer overflow for WHAM-GRAPHENING"
I was trying to run WHAM-GRAPHENING on the same samples where WHAM-BAM was working quite well, and I keep getting the same error message regardless of the memory size I allocate for the run:

Thank you in advance for any help.

[2016-04-19 16:22] zeeev commented on #33
@nvolkova Thank you for reporting this bug.  Can you try running the command with -k?  It'd help me track down if it is a genotyping bug.

[2016-04-19 16:23] zeeev commented on #32
@sahilseth Sorry for the late reply. Can you send me a small test bam?

[2016-04-20 08:28] nvolkova commented on #33
@zeeev With -k flag it finishes successfully, but does not report any breakpoints, the .out file does only have the ##INFO part.

[2016-04-20 20:07] zeeev commented on #33
@nvolkova Would you be willing to share your bam file privately?  Is there anything special about your data?  I'd like to get to the bottom of this.

--Zev

[2016-04-21 01:21] sahilseth commented on #32
Hi Zeev,

It seems to work well for bwa mem bams, but not star aligned (RNA seq) bams. These are MD Anderson internal samples - don't have permission to share...

[2016-04-21 10:22] nvolkova commented on #33
@zeeev Well, the only special thing is that it is not human, but, as I understood, that is not an issue, or is it? I am trying to extract structural variants from C. elegans sequences.

I have taken another .bam file from my list (it might have been that there are no variants in the first one), and it again ran into buffer overflow when run with genotyping. However when run without genotyping, it

[2016-04-21 15:04] zeeev commented on #33
@nvolkova,

There is no issue running either program on non-human data.  I spent a good portion of my PhD working on pigeons.

Ah, yes, WHAM-GRAPHENING is a different algorithm (not pileup based) so there will be different info fields.  WHAM-GRAPHENING classifies the SV type internally, removing the downstream python program.

To troubleshoot the buffer over flow I would just need the bam file tha

[2016-04-23 07:29] sehrrot opened #34 "No genotype done in the current version WHAM-Graphening"
Hi

I recently updated the wham-graphening for the version: v1.7.0-199-g6106. I ran the genotyping for merged VCF (three samples in one VCF) and genotyping was not done for some of predictions, like ./.
others have 0/1 or 1/1.

The previous version v1.7.0-184-gd30f was okay for the same input.

[2016-04-26 15:03] zeeev commented on #34
@sehrrot Can you share a few examples?  I've been tweaking the genotyping methods.

[2016-04-26 22:05] zeeev commented on #31
Hi @abolia @BrettKennedy ,

WHAM-G, on the devel branch, calls BNDs (inter-chromosomal events).  If you'd be interested in trying it follow the steps below. Otherwise I will let you know when a do a full release. Any feedback is welcome.

[code]

Here is an example of how to run it:

[code]

After looking at you data I would highly recommend pre-trimming the reads to remove the high rate of N's.

[2016-04-29 16:49] sehrrot commented on #34
Here are commands for both versions and one line of VCFs. Thanks

**WHAM-GRAPHENING:v1.7.0-199-g6106**

cmd:
~/wham/bin/WHAM-GRAPHENING -m 30 -b ./wham_test/wham.merge.test.vcf -a /home/ec2-user/reference/b37/human_g1k_v37.fasta -e MT -f sample1.bam,sample2.sample3.bam,sample4.bam 2> ./err.wham.step2.test.txt > ./wham_11993/wham.final.test.vcf

**VCF**
CHROM  POS     ID      REF     ALT     QUAL

[2016-04-29 23:39] #19 closed

[2016-05-07 19:36] zeeev commented on #33
@nvolkova any update on this issue?

[2016-05-11 10:14] nvolkova commented on #33
@zeeev
sorry for a delay.
As you suggested, I have realigned the reads with BWA MEM, sorted and indexed, yet I am still getting buffer overflow:
`WHAM-GRAPHENING -a ref.fa -f sort.test.bam -g test.graph.txt > test.wham.vcf`

Thanks in advance for any advice!

[2016-05-11 15:23] zeeev commented on #33
Shoot. I've been working on recapitulating the error.  Can you try this:

Run it without genotyping -k.  Then use that file and genotype using -b?  If that doesn't fail it will help me find the bug.

[2016-05-11 15:24] zeeev commented on #34
@sehrrot Thank you.  I'm currently working on improving the genotyping.  I'll keep this in mind.

[2016-05-11 15:24] #34 closed

[2016-05-11 15:26] zeeev commented on #23
@sehrrot Glad to hear.  Thank you for using WHAM.

[2016-05-11 15:26] #23 closed

[2016-05-11 15:27] zeeev commented on #30
@ejodude Any movement on this EJ?

[2016-05-11 15:29] zeeev commented on #32
@sahilseth Thanks for reporting the bug.  I understand protecting your data.  Is there no chance of sharing a tiny slice that generates the same error?

[2016-05-11 15:29] #25 closed

[2016-05-11 15:29] #24 closed

[2016-05-11 16:21] nvolkova commented on #33
It is still failing:
`WHAM-GRAPHENING -k -a ref.fa -f sort.test.bam -g test.graph.txt > test.wham.vcf`
`WHAM-GRAPHENING -b test.wham.vcf -a ref.fa -f sort.test.bam -g test.graph.txt > test.2.wham.vcf`

Backtrace and memory map seem to be exactly the same.

[2016-05-11 16:23] ejodude commented on #30
Thanks @sahilseth for the heads up. It looks like the code is running fine, but that we will need to add an update before scikitlearn moves to v0.19. I've also changed the wiki highlight the requirement for 2.7 and not 3.0+

[2016-05-11 16:23] #30 closed

[2016-05-11 16:23] zeeev commented on #33
Can you send me that VCF.

[2016-05-11 16:49] zeeev commented on #33
In the Makefile can you add -fstack-protector-all to the CFLAGS?

It will look like:

CFLAGS= -Wall -fstack-protector-all -DVERSION=\"$(GIT_VERSION)\" -DFAST -std=c++0x

Re-make and try again?  I really appreciate your help in this matter.  I'm still not able to generate the error.

[2016-05-11 17:26] tycheleturner opened #35 "[enhancement] bam lists"
Can you allow users to specify a bam list file (1 bam file name per line) instead of having to list all the bams on the command line? That would be a nice enhancement

[2016-05-11 18:09] sahilseth commented on #32
Wish they were cell lines and not patient samples - IRB restriction. If I see the same error with other samples, will contact you.

One a side note, I was wondering if SV classifier supports translocations? I only got DEL, INV etc. no ITX or CTX.

Thanks!

[2016-05-12 09:34] nvolkova commented on #33
@zeeev I added the flag - but nothing changed. Do you think it may have something to do with the cluster where I'm trying to run it? Wrong libraries or specification?

[2016-05-21 12:24] abolia commented on #19
Hi Zev,

I am trying to run WHAM for some single end data. But its been more than 10 hours and it still says "INFO: gathering stats for each bam file."
I have already removed this https://github.com/zeeev/wham/blob/master/src/bin/multi-wham-testing.cpp#L622
so it does not throw out error and is still running. Moreover, there are only 84 @SQ tags in the header file and its a pretty small BAM file w

[2016-05-21 12:33] abolia opened #36 "WHAM taking too long to run"
Hi Zev,

Sorry for re-posting this. I posted it on a closed issue so re-posting this.

"
I am trying to run WHAM for some single end data. But its been more than 10 hours and it still says "**INFO: gathering stats for each bam file**."
I have already removed this https://github.com/zeeev/wham/blob/master/src/bin/multi-wham-testing.cpp#L622
so it does not throw out error and is still running. Moreo

[2016-05-23 21:56] zeeev commented on #36
WHAM was designed for paired end data.

[2016-05-23 22:25] abolia commented on #36
Okay, got you. Thanks.

Ashini

[2016-05-23 22:25] #36 closed

[2016-06-06 17:57] zeeev commented on #35
The devel branch supports this feature.  It will be in master soon.

[2016-06-06 17:57] #35 closed

[2016-06-06 20:20] zeeev commented on #33
I've merged the development branch into the master.  I've disabled genotyping until I finish the new genotyping algorithm.  Thanks for your help.  The new version of the caller shouldn't give you any trouble, but no genotypes.

[2016-06-06 20:20] #33 closed

[2016-06-15 18:29] afkoeppel opened #38 "whamg trouble - finishing instantly with no results"
Trying to call SVs on some rat sequences and want to try whamg.

whamg -a $GENOME –f SL150028.bwamem.unfilt.rmdup.sort.bam > SL150028.vcf  2> SL150028.err

Strangely, it seems to be finishing instantaneously (despite >50Gb bam file), and producing no results.

cat SL150028.err
INFO: fasta file: /home/sdt5z/genomes/igenomes/Rattus_norvegicus/Ensembl/Rnor_5.0/Sequence/WholeGenomeFasta/genome.fa
INFO

[2016-06-15 18:33] zeeev commented on #38
Odd.
Can you post the full error message?
This is whole genome paired end sequence?

[2016-06-15 18:53] afkoeppel commented on #38
Well that's what's so odd, there was no error message.  Nothing at all was echoed to the screen, and according to the .err file everything went fine, but there was no output (except for the VCF header) and it took no time to run.

samtools view -H SL150028.bwamem.unfilt.rmdup.sort.bam
@HD     VN:1.3  SO:coordinate
@SQ     SN:10   LN:112200500
@SQ     SN:11   LN:93518069
@SQ     SN:12   LN:54450796

[2016-06-15 18:55] zeeev commented on #38
can you post the full SL150028.err error file?

There should be something like:

INFO: for Sample:xxx
  STATS:    UV940: mean depth ..............: 39.2523
  STATS:    UV940: sd depth ................: 10.7403
  STATS:    UV940: mean insert length: .....: 319.644
  STATS:    UV940: median insert length ....: 318
  STATS:    UV940: sd insert length ........: 69.2122
  STATS:    UV940: lower insert

[2016-06-15 18:56] afkoeppel commented on #38
What I posted in the original message was the full file.

[2016-06-15 19:10] zeeev commented on #38
@afkoeppel thanks, I was expecting it to be longer, but maybe not if it is an options parsing error.

original:

"whamg -a $GENOME **–**f SL150028.bwamem.unfilt.rmdup.sort.bam > SL150028.vcf 2> SL150028.err"

try:

"whamg -a $GENOME -f SL150028.bwamem.unfilt.rmdup.sort.bam > SL150028.vcf 2> SL150028.err"

Note the difference in the dash for -f.

If this solves the problem I'll add better error han

[2016-06-15 19:16] afkoeppel commented on #38
Well I'll be.  I replaced the dash and now it seems to be running.  I'll update as soon as I have output.  I'm not even quite sure how I got that non-dash dash, but I think maybe from copy-pasting from the instructions here (I sometimes copy example commands and then just replace the file names with my own).

[2016-06-15 19:18] zeeev commented on #38
Shame on me! I'll make sure to check for m vs n dash.

http://www.punctuationmatters.com/hyphen-dash-n-dash-and-m-dash/

[2016-06-15 19:43] afkoeppel commented on #38
That did the trick.  I have a vcf with SVs in it now.  Thank you so much for your help.

[2016-07-06 16:21] CllKiller opened #39 "FATAL: Unable to gather stats on bamfile"
Dear WHAM´s team:
I am trying to run both wham and whamg for SV calling using Arabidopsis bam files (~20x), the command lines I used is:

$wham -x 2 -f ../../1-TAIR10/tair10_um_new.fa -t Ler_0_ler_phaseI.bam > NEW_wham_ler_0.vcf 2> NEW_wham_ler_0.err
$whamg -x 2 -a ../../1-TAIR10/tair10_um_new.fa -f Ler_0_ler_phaseI.bam -c Chr1,Chr2,Chr3,Chr4,Chr5 > NEW_whamg_ler_0.vcf 2> NEW_whamg_ler_0.err

Both

[2016-07-06 16:22] zeeev commented on #39
What are the data?  How were they aligned?

[2016-07-06 16:35] CllKiller commented on #39
Thanks for the rapid reply, zeeev! These bam files are Whole Genome Sequencing data with ~20x, and they are aligned by a software named Stampy (http://www.well.ox.ac.uk/project-stampy). I noticed that you recommended to use BWA mem to implement alignment before using wham, but is this will cause a big effect? Do you think is there something wrong with the command lines I used?

[2016-07-06 16:39] zeeev commented on #39
@CllKiller Your commands are correct.  You need to use BWA mem.

[2016-07-07 09:18] CllKiller commented on #39
So sorry to reply you later, Zeeev. In fact, I had also tried to realign these bam files using BWA mem and as I don't have the original fastq files, I just convert the original bam files to fastq and then realign, here is the command I used:

$bedtools bamtofastq -i ../2-TAIR10.BAM/Ler_0_ler_phaseI.bam -fq Ler_0.fq
$bwa index Arab.all.fa -p Arab.all
$bwa mem -R '@RG\tID:ler_phaseI\tCN:WTCHG\tLB:le

[2016-07-07 10:29] CllKiller commented on #39
Hi, Zeeev. As the genome of Arabidopsis is much smaller than Human's, Arabidopsis has five chromosomes and a total size of approximately 135-megabases. The table below shows the approximate total length and the length of the golden path for each chromosome. Do you this could be the reason for my problem?

                          Golden_path_length  Approximate_chromosome_length
Chromosome 1	30,4

[2016-07-07 10:30] CllKiller commented on #39
Hi, Zeeev. As the genome of Arabidopsis is much smaller than Human's, Arabidopsis has five chromosomes and a total size of approximately 135-megabases. The table below shows the approximate total length and the length of the golden path for each chromosome. Do you this could be the reason for my problem?

	Golden path length	Approximate chromosome length
Chromosome 1	30,427,671 bp	34,964,571 bp
Ch

[2016-07-07 10:38] CllKiller commented on #39
Hi, Zeeev. As the genome of Arabidopsis is much smaller than Human's genome, do you think this will be one potential factor that cause the empty VCF files and the errors above? Arabidopsis has five chromosomes and a total size of approximately 135-megabases. The table below shows the approximate total length and the length of the golden path for each chromosome.

Golden_path_length Approximate_chr

[2016-07-07 15:45] zeeev commented on #39
@CllKiller What type of data are you working with?  Is it paired end?

[2016-07-07 15:57] CllKiller commented on #39
@zeeev Yes, the bam file I tested is two paired-end. The details of genome sequencing are:
 For most accessions, two paired-end (PE) libraries with different insert sizes and read lengths (~200bp; 32bp PE and ~400bp; 51bp PE) were made from different plants and sequenced with a Genome Analyzer II.
Is there any wrong with all the command lines I used to realign?

[2016-07-07 15:59] zeeev commented on #39
@CllKiller I don't see anything obvious.  Can you share the bam file that is causing problems?

[2016-07-07 16:06] CllKiller commented on #39
No problem, sir! So sorry to take you many time, I will share the bam file and ref file by Google Drive to your email (zev.kronenberg@gmail.com). Many thanks again!! :)

[2016-07-07 16:33] CllKiller commented on #39
Zev, I have just share the files with you by Google Drive and you will receive an email to download them. Please check them. Tks!

[2016-07-08 16:22] zeeev commented on #39
@CllKiller Your reads are too short ( < 50bp) for wham or whamg.  However, I've added the -d flag that allows users to adjust the number of matching bases.  After running your data with -d and -g I see INDELS, but not SVs (in the graph file, not the VCF).

I'd encourage you to try a tool that doesn't rely on soft-clipped bases.  LUMPY or VH are two options.

[2016-07-08 16:22] #39 closed

[2016-07-08 16:40] CllKiller commented on #39
Many thanks for all these great help and your awesome software, Zev! I have already tried LUMPY on my data, but what is the VH? Can't find it from google, could you please give me more information about this software? :)

[2016-07-20 15:24] akkellogg opened #40 "Floating Point Exception"
Hello,

I'm having a problem running WHAM on some smaller BAM files. Every time I try to run it the WHAM.err file returns the following:

INFO: WHAM-BAM will using the following fasta: ../ABL1_cds.fasta
INFO: OpenMP will roughly use 24 threads
INFO: target bams:
 S2.bam
INFO: gathering stats for each bam file.

At which point it exits out and prints "Floating Point Exception" to the terminal.

The

[2016-07-28 16:01] zeeev commented on #40
@akkellogg Sorry for the late reply, i'm just returning from holiday. What type of data are you working with?  Exome or genome?

[2016-07-28 22:45] akkellogg commented on #40
@zeeev We think we pinpointed the problem. We were aligning the reads to a custom reference and we think the issue was with that reference, since aligning to a different reference seems to have solved the problem.

[2016-07-28 22:45] #40 closed

[2016-10-04 21:15] fizwit opened #41 "tags"
We are using Easybuild to manage our scientific software. To help us deploy consistent and repeatable software we rely on git tags and the ability to download a tagged version.
The current master head of wham points to 1.7.0, but you have a tag for 1.8.0 which seems to be the newest version, but it does not contain whamg.
- can you tag the latest version of wham that builds
- Can you remove the de

[2016-10-06 15:11] zeeev commented on #41
1. Yes.
2. Point taken,  I think of a conditional that will fix this.
3. Thank you for the bug report.

[2016-12-06 21:24] xie186 opened #42 "About -e $EXCLUDE"
Could you please give me a short description of -e ?

I'm a little bit of confused.
In the help message:
[code]
This means the chrom ID given to -e should be INCLUDEd. But here in the README. you say -e $EXCLUDE.
Which one is correct? Thanks.

[2016-12-06 21:36] zeeev commented on #42
For exclusion use -e and for inclusion use -c.

e.g.

-e chrMT,chrY

[2016-12-06 21:38] xie186 commented on #42
Got it. Thanks.

[2016-12-06 21:38] #42 closed

[2017-02-15 15:39] Suncuss opened #43 "narrowing conversion error during installation"
Hi

I'm getting some narrowing conversion error during installation.

gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)

[code]

Thanks!

[2017-02-15 16:13] zeeev commented on #43
@Suncuss Can you tell me what tool and system you're using to compile whamg?

[2017-02-15 16:54] Suncuss commented on #43
Linux Hostname 4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2017-04-26 20:39] edawson commented on #43
I'm having this issue on Ubuntu 16.04, GCC/G++ 6.2.0, and a correspondingly modern version of Cmake. Any chance there's a fix?

FWIW I can compile if I switch the `unsigned long long` on line 111 to a `long long`, but I worry this is probably going to change program behavior.

[2017-04-26 21:25] zeeev commented on #43
@edawson Thanks for the report.  Can you link me to the line you're changing?  I'll look into it.

[2017-04-26 22:02] edawson commented on #43
Good call - it's [here](https://github.com/zeeev/wham/blob/master/src/lib/fastonebigheader.h#L111).

[2017-04-27 14:40] dence commented on #43
I'm getting this same error w/ gcc 5.2.0. What version of gcc are you (Zev) developing this on?

[2017-04-27 15:10] zeeev commented on #43
Fixed by @edawson in latest PR.

[2017-04-27 15:10] #43 closed

[2017-09-08 10:01] Tjitskedv commented on #31
Hi,

I was wondering what the status is on implementing translocation detection.

regards,
Tjitske

[2017-09-11 20:36] zeeev commented on #31
@Tjitskedv Currently, I don't have time time implement the translocation functionality. I'de be happy if someone was interested in helping.

[2018-03-13 14:46] woodoo46 opened #45 "Genotyping"
Hi,

Just a quick question, wham does not provide genotyping step itself? We need to use another program to genotype wham's result?

Thanks.

George

[2018-03-13 16:18] zeeev commented on #45
Hello,

Yes, I'de recommend you use SVTyper for whamg SV calls.

[2018-03-13 16:18] zeeev commented on #45
Hello,

Yes, I'd recommend SVTyper for WhamG calls.

[2018-03-13 17:08] woodoo46 commented on #45
Thanks!

[2018-03-13 17:08] #45 closed, assigned to nobody

[2018-07-13 09:44] ivangalvan opened #46 "All the detected variants with genotype missing"
Hi Zev,

I have installed the last version of wham available from: http://zeeev.github.io/wham/

When I run wham, all the detected variants have missing genotypes. I run the same bam file with other variant callers (GATK, deepvariant, manta, freebayes, etc) and all of them generate genotypes.

See, please, the commands and outputs below, I made something wrong?

Thank you,

Ivan

###############

[2018-07-13 21:18] srynobio opened #47 "Update to Makefile needed for updated bamtools build."
Bamtools, which is one of the requirements of wham, it recursively installed and built as part of your Makefile.  However the build requirements and `lib` path has changed in the newest version of bamtools.  This does not allow a completed build when using a new "docker" environment.

[2018-07-16 16:03] zeeev commented on #46
Hi @ivangalvan,

Whamg doesn't genotype SVs. However, you can genotype these events with: https://github.com/hall-lab/svtyper

Best,

Zev

[2018-07-16 16:03] #46 closed, assigned to nobody

[2018-07-16 16:04] zeeev commented on #47
Hi @srynobio,

I understand the problem, but without logs, error, or any other information there's not much I can do :(.

--Zev

[2018-07-16 16:23] srynobio commented on #47
@zeeev Understand.  I'll get a more detailed reports with logs and post them.

[2018-07-20 18:39] srynobio commented on #47
@zeeev I'm adding this to further explain the issue I'm seeing.

#### Background

I'm building a docker container to use `wham` on the AWS cloud, and based on your listed requirements:

`Installing whamg`

I currently install CMake and OpenMP via the following dockerfile.

[code]

Version check of CMake in the built image:

[code]

Version check of OpenMP in the built image:

[code]

However when

[2018-08-01 00:59] Addicted-to-coding opened #48 "Empty output file"
Hi,
When I run the tool wham using the command
toolPath -e $EXCLUDE -f $reference  -t $alignments | perl ${utilsPath}/filtWhamG.pl
 The tool runs without any error with a non-zero runtime. However, it produces an output file with only a header, and no structural variants predictions. When I run a different tool on the same bam file, many structural variants are predicted. What is wrong here?

Than

[2018-08-01 16:11] zeeev commented on #48
Hello @Addicted-to-coding,

I'd be happy to help you trouble shoot. First, what happens if you don't pipe the whamg stdout to the filtering script? Do you get any SV calls? What type of data are you working with?

Best,

Zev

[2018-08-01 16:13] zeeev commented on #47
Hi @srynobio,

Sorry it took me a while to get to this. What happens if you go into the bamtools submodule, in whamg, prior to building and then update the branch? If that solves the problem, I'll just update the bamtools submodule commit.

Best,

Zev

[2018-08-01 20:47] Addicted-to-coding commented on #48
Hi zeeev,
Even when I remove the pipe to the whamg stdout to the filtering script, I get an empty output with only a header. I am using mouse data in the form of a .bam file and a mm10 reference .fa file

[2018-08-01 20:48] zeeev commented on #48
What is printed to STDERR and STDOUT?

[2018-08-01 21:12] Addicted-to-coding commented on #48
when I run /u/home/a/angelakl/project-zarlab/sv-project/install/wham/bin/wham -e $EXCLUDE -f ~/reference.genome/mm10.fa  -t ~/A_J.bam  A , the output is
INFO: WHAM-BAM will only score within bed coordiates provided: GL000207.1,GL000226.1,GL000229.1,GL000231.1,GL000210.1,GL000239.1,GL000235.1,GL000201.1,GL000247.1,GL000245.1,GL000197.1,GL000203.1,GL000246.1,GL000249.1,GL000196.1,GL000248.1,GL000244

[2018-08-02 20:59] zeeev commented on #48
What aligner did you use? Is this exome or whole genome data? I'd expect at least a couple SVs for WGS data.

[2018-08-16 12:05] wiraki opened #49 "installation fails undefined reference to BamTools functions"
Hello,

I am trying to install whamg with
`git clone --recursive  https://github.com/zeeev/wham.git; cd wham; make`

I have seen a couple of other issues referring to similar problems but I couldn't fix it myself. Here is the part that raises the error:

[code]

Would appreciate some help :)

[2018-08-16 17:34] zeeev commented on #49
Hi @mpauper,

What system are you using? Do you have a newer version of bamtools in your path?

[2018-08-17 08:52] wiraki commented on #49
Hi @zeeev ,

Thanks for the prompt reply!

I am on a CentOS 7.4 system.
I do not have any other bamtools in my path.

cmake version 3.12.1
gcc version 5.1.0

[2018-08-20 21:41] srynobio commented on #49
@zeeev I think this is related to the [issue](https://github.com/zeeev/wham/issues/47) I opened.  Possibility related to the bamtools build in your makefile.

[2018-08-20 21:50] zeeev commented on #49
Hi Shawn,

Did you try updating the checkout of bamtools prior to the build, like I suggested? Did that solve the problem? If so, I will just update the bamtools checkout.

—Zev

[2018-08-21 08:09] wiraki commented on #49
Hello,

I am not sure that this is the correct way to do it but here is what I tried:
[code]
I still have the same error, however.

[2018-08-22 15:42] zeeev commented on #47
Hi @srynobio,

Did you attempt the solution I suggested?

Zev

[2018-08-22 15:46] zeeev commented on #47
Let's just setup a 5 minute call. I tried the lab, but no one answered.

[2019-08-06 07:56] JuanmaMedina opened #50 "classify_WHAM_vcf.py issue"
Good morning Zev,

After correctly running `WHAMG` script, I tried to perform the classification step by using `classify_WHAM_vcf.py`. But in this step I found a couple of errors:

- The first is a slight modification of the source code of the python script, as the `cross_validation` module seems to be deprecated, and it is advised to import the corresponding functions from `model_selection` inste

[2019-08-06 14:51] zeeev commented on #50
@JuanmaMedina,

Depending on your use case whamG might better choice. WhamG internally classifies structural variant types, and is generally more accurate. However, if you need to classify wham calls, I'll revisit this issue.

[2019-08-07 06:59] JuanmaMedina commented on #50
Hello Zev,

Thanks for your fast response.

Yes, I indeed used the `whamg` script, as recommended in the documentation. I edited the OP in case it was not clear.

I parsed out the resulting `.vcf` to extract the SV-annotation information. However, I was trying to use the `classify_WHAM_vcf.py` on the resulting raw `.vcf` in case it provided me with any extra useful information. This was the reason

[2019-09-24 20:35] mwalker174 opened #51 "Stochastic output"
We are observing non-deterministic behavior of `whamg` when run multiple times across cloud VMs on the same BAM file, where about 5-10% of calls are different. I see from a quick search of the code base that random sampling is used to estimate metrics (this seems to be seeded to the system clock with `srand` in `wham` and not in `whamg`), but from the logs it looks like these estimates converge co

[2019-09-24 21:27] zeeev commented on #51
Hi @mwalker174,

I've marked this as a question, but it's possible it is a bug. Let me think about this for a bit.

[2019-09-26 22:20] djakubosky opened #52 "Workflow for large number of genomes (Population)"
Hi, I was curious about the suggested workflow for WHAMG on ~1K genomes. My assumption is that this is what you would want to do:

1) Run WHAMG individually on all genomes -> many vcfs
2) Filtering? - (not sure if you'd suggest filtering at this stage of the process on each individual VCF)
3) Run mergeSVcallers on these VCFs to create a set of positions
4) Genotype the putative SVs at these positi

[2019-09-27 02:04] zeeev commented on #52
Hi @djakubosky,

Thanks for reaching out, these are really good questions, especially for large cohorts. I've made some bullet points that might help guide you. If you find this helpful or come up with your own tricks I'd like to add them to a wiki.

- If you have related individuals batch them together. WhamG becomes more sensitive when you run a trio or quad together. However, there are performa

[2019-10-01 00:36] djakubosky commented on #52
Hi @zeeev
Thanks for all the info on this, these answers are very helpful. I think I follow almost everything you are saying here. I still have one question- when I generate separate VCFs for each individual (as I won't be able to run them jointly with so many samples) will MergeSVcallers allow me to merge them within and between samples to arrive at a single consensus set of variant positions? Is

[2019-10-01 22:15] zeeev commented on #52
@djakubosky,

Yes mergeSV can be used to merge within, and then between.

You mentioned that you have families in your cohort? I'd joint call closely related individuals (up to 3/4).

--Zev

P.S. nice paper!

[2019-10-01 22:57] djakubosky commented on #52
Thanks for the info! Is there a limit to how many VCFs can be merged with
regards to memory concerns?

On Tue, Oct 1, 2019 at 3:15 PM Zev Kronenberg <notifications@github.com>
wrote:

[2020-01-03 12:56] liufy11 opened #53 "WHAM-BAM finished normally"
the runing break suddenly and says "WHAM-BAM finished normally"
there is no result . I mapped my read to reference with bowtie2 ,Does that matter?

[2020-01-03 16:43] zeeev commented on #53
Yes you need to use bwa-mem.

On Fri, Jan 3, 2020 at 5:56 AM liufy11 <notifications@github.com> wrote:

[2020-01-04 00:55] liufy11 commented on #53
Thanks for your  quick reply !

[2020-01-04 11:10] #53 closed, assigned to nobody

[2020-01-11 15:25] masen1991 opened #54 "installation fails"
i get install by this Fast and dirty install:
git clone --recursive https://github.com/zeeev/wham.git
cd wham
make
and i get this problem:
`g++ -fstack-protector-all -Wall -DVERSION=\"v1.7.0-311-g4e8c-dirty\" -std=c++0x -Wno-sign-compare -O3 -Isrc/lib -Isrc/bamtools/include -Isrc/bamtools/src -Isrc/ -Isrc/fastahack -Isrc/Complete-Striped-Smith-Waterman-Library/src/ src/bin/whamg.cpp src/bamtools/l

[2020-09-01 14:12] cccnrc opened #55 "error: INFO: processed 0 reads for BAM file"
I am struggling having Whamg running for a WGS .bam file. I used [GATKSV/Wham](https://hub.docker.com/r/gatksv/wham) docker image and the following command:

[code]

Returns:

and nothing else. I also tried to reconvert the .bam to .fastq and realign with BWA-MEM:

[code]
 but nothing works, keep getting the same output.

Thank you in advance for any help!

[2020-09-01 14:14] cccnrc opened #56 "Wham installation fails"
I tried to install Whamg on Ubuntu 18.04, I have installed OpenMP and CMake, but when I run

[code]

I got:

[code]

Thank you in advance for any help!

[2020-09-01 15:08] zeeev commented on #55
Hi @cccnrc, the wham suite of tools was designed for paired-end reads? Looking over the commands, above, I'm guessing you're using single-end reads?

Best,

Zev

[2020-09-01 15:18] cccnrc commented on #55
Thanks for your reply @zeeev
The .bam is actually sequenced with paired-end....any other idea?

[2020-09-17 16:02] davidecarlson commented on #49
Old thread, but I wanted to note that I had similar issues and was able to resolve them by using an older version of Cmake and gcc.  I switched from Cmake 3.16 and gcc 7.1 to Cmake 3.5.1 and gcc 4.8.5 and the compilation worked.

[2020-10-07 08:52] tongshiyuan commented on #56
I was in the same situation. I tried `sudo make` and installed it successfully.

[2020-10-07 14:07] cccnrc commented on #56
still not working:

`git clone --recursive  https://github.com/zeeev/wham.git; cd wham; sudo make;
Cloning into 'wham'...
remote: Enumerating objects: 2958, done.
remote: Total 2958 (delta 0), reused 0 (delta 0), pack-reused 2958
Receiving objects: 100% (2958/2958), 95.44 MiB | 11.16 MiB/s, done.
Resolving deltas: 100% (1922/1922), done.
Submodule 'src/Complete-Striped-Smith-Waterman-Library' (htt

[2020-11-03 08:06] drashwinelkar opened #57 "Bam file not being read"
I am running whamg of the docker container : wham:1.8.0.1.2017.05.03--hd28b015_0
I have provided and index and sorted bam file which is the output of bwa mem with the -R option.

I get the following error when I run whamg-
INFO: fasta file: ChAdOx1nCov19_scaffolds_RC.fa
INFO: gathering stats (may take some time) for bam: DNA2_wham_sorted.bam
terminate called after throwing an instance of 'std::out

[2020-12-07 06:33] carolynzy commented on #55
I had the same issue using whamg. I'm processing paired-end samples. whamg used to be working on this sample, the only change I made was using bbduk.sh to trim low quality bases from fastq file and then went through the same processes. When I used sickle to trim the same file, whamg just worked fine.

I looked into the .err file produced, and the content is as follows:

`INFO: target bams:`
` ../.

[2021-03-09 07:39] quentin0515 commented on #49
Hi, @zeeev  I have the same problem as #47 and I have read about the other problem #47, and the solution you proposed. But I'm not sure I understand what do you mean by "go into the bamtools submodule, in whamg, prior to building and then update the branch?" Could you give more detailed instructions about it and I will try it immediately.
Many thanks.

I tried to change LBAMTOOLS=src/bamtools/lib/

[2021-03-09 09:46] quentin0515 opened #58 "Output vcf file: ALT is not sequence"
Hi!

I'm using whamg by

export EXCLUDE=GL000207.1,GL000226.1,GL000229.1,GL000231.1,GL000210.1,GL000239.1,GL000235.1,GL000201.1,GL000247.1,GL000245.1,GL000197.1,GL000203.1,GL000246.1,GL000249.1,GL000196.1,GL000248.1,GL000244.1,GL000238.1,GL000202.1,GL000234.1,GL000232.1,GL000206.1,GL000240.1,GL000236.1,GL000241.1,GL000243.1,GL000242.1,GL000230.1,GL000237.1,GL000233.1,GL000204.1,GL000198.1,GL000208

[2021-09-07 17:55] GWheelerEB opened #59 "Meaning of AT Parameters?"
When running WHAM-BAM, the resulting VCF has an info-field 'AT', which is a comma-separated list of 15 numerical values; however, I cannot find any information as to what these fields actually mean. I know that the classify_WHAM_vcf.py script uses these values to run a ML model and assign an SVTYPE to each variant call, and I was also able to find a note in the documentation saying, "The average u

[2022-07-18 11:37] gancho-ivanov opened #60 "[Question] Is Linux ARM64 supported ?"
Hi,

Is ARM64 architecture supported ? Linux and/or MacOS ?

I am trying to build the project on Ubuntu 20.04 ARM64 but it fails with:

[code]

`emmintrin.h` could be used only on x86_64 when SSE is available.

[2022-07-18 11:54] gancho-ivanov commented on #60
Hm!
https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library/commit/e2c7ccca74633ac61150d55e7c03270ab049b439#diff-ccfb8f3b7607fe494fe5c37a7db56e59cbcef2e76182dc9f8e3e4522e3984c4e added support for SSE2/NEON, but `git submodule update` checks out commit `8c9933a1685e0ab50c7d8b7926c9068bc0c9d7d2` from https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library which is 7 years old .

[2022-07-18 12:08] gancho-ivanov commented on #60
I've updated manually the submodule (`cd src/Complete-Striped-Smith-Waterman-Library; git pull --rebase origin master`) and now the new problem is:

[code]

Any help is welcome!

[2022-07-28 12:28] julien-faye commented on #60
I could try to add support for Neon (ARM64) if there is interest in the community!
But the project seems abandoned since 2017 and I am not sure whether such contribution would ever be merged and released.

[2022-11-29 17:34] mvheetve opened #61 "FATAL: No SM tag in bam file."
Hi there,

I keep getting this error message
[code]
and using the following command:
[code]

here's some info on the bam files I'm using:

[code]

I had a look already at https://github.com/zeeev/wham/blob/master/src/bin/whamg.cpp lines 1103-1112, but not sure why the error is generated.

Hope you can shed some light on this issue.
Regards
Mattias